:root {
  --main-bg-color: hsl(27, 66%, 92%);
  --main-orange: hsl(10, 79%, 65%);
  --main-cyan: hsl(186, 34%, 60%);
  --span-brown: hsl(28, 10%, 53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
